<!DOCTYPE html>
<html>
<head>
    <title>RPi GPS</title>
    <script>
        // Function to fetch data from Flask
        function updateData() {
            fetch('/data')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('Time').innerText = data.Time;
                    document.getElementById('Latitude').innerText = data.Latitude;
                    document.getElementById('Longitude').innerText = data.Longitude;
                });
        }
        // Update data every 1000ms (1 second)
        setInterval(updateData, 1000);
    </script>
</head>
<body onload="updateData()">
    <h1>Real-time Data</h1>
    <p>Time: <span id="Time">--</span></p>
    <p>Latitude: <span id="Longitude">--</span></p>
    <p>Longitude: <span id="Latitude">--</span></p>
</body>
</html>