<!DOCTYPE html>
<html>
<head>
    <title>Live GPS</title>
    <meta charset="utf-8" />

    <!-- Leaflet CSS -->
    <link rel="stylesheet"
     href="https://unpkg.com/leaflet/dist/leaflet.css"/>

    <style>
        #map {
            height: 100vh;
        }
    </style>
</head>
<body>

<div id="map"></div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    var map = L.map('map').setView([63.4305, 10.3951], 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    var boatIcon = L.icon({
        iconUrl: "{{ url_for('static', filename='boatIcon.png') }}",
        iconSize: [40, 40],
        iconAnchor: [20, 20]
    });

    var marker = L.marker([63.4305, 10.3951], { icon: boatIcon }).addTo(map);

    function updateGPS() {
        fetch("/gps")
            .then(response => response.json())
            .then(data => {
                marker.setLatLng([data.lat, data.lon]);
                map.setView([data.lat, data.lon]);
            });
    }

    setInterval(updateGPS, 1000);
</script>

</body>
</html>
